
<form action="/Products/AddProduct" method="post">
    Title :<input type="text" name="title" /><br />
    Description :<input type="text" name="description" /><br />
    Unit Price :<input type="text" name="price" /><br />
    Image Url :<input type="text" name="imageUrl" /><br />
    Quantity :<input type="text" name="quantity" /><br />
    <input type="submit" value="AddProduct" />
</form>
